body { 
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #f5f6fa; 
  color: #333; 
} 
header { 
  background-color: #005f99; 
  color: white; 
  text-align: center; 
  padding: 20px; 
} 
section.about{
    background-color: #5cb7f0;
    color: rgb(108, 2, 2);
    font-size: 1.25em;
    padding: 20px;

}