*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: gray;
}
header{
    background-color: blue;
    color:white;
    text-align: center;
    padding: 20px;
}
.content{
    background-color: gray;
    padding: 5px;
}
section.biography{
    border: 1cm;
    padding: 20px;
    margin: 10px;
    background-color:white;
    padding-top: 20px;
    border-radius: 10px;
}

section.achievements{
    background-color: white;
    padding: 20px;
    margin: 10px;
    margin-bottom: 0px;
    border-radius: 10px;
}
footer {
    background-color: #0047ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}